/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
} */

input:active,
input:focus {
  outline: none;
}
header {
  height: 100px;
}
.header-logo {
  width: 120px;
}
header button {
  padding: 8px 20px;
}
.button-primary {
  border-radius: 7px;
  background: #077ac2;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.button-secondary {
  border-radius: 10px;
  background: #fff;
  color: #0a4a70;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.location-header-mob {
  font-size: 12px;
  color: #000000;
}
.banner-heading {
  font-size: 35.172px;
  font-style: normal;
  font-weight: 600;
}
.banner-input-div {
  border-radius: 25px;
  border: 1px solid #ddd;
  padding: 4px;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 4.69px 4.69px 4.69px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.379310607910156px);
}
.banner-input-div input {
  width: 300px;
  color: slategray;
}
.search-btn {
  border-radius: 25px;
  background: #0778bf;
  padding: 12px 32px;
}
.mobile-search {
  background: #f2f2f2;
  padding: 16px 20px;
}
.mobile-search .banner-input-div {
  border-radius: 10px;
}

/* Job card main */
.job-card-div {
  background: #f5f5f5;
  padding: 30px 40px;
  border-radius: 24px;
}
.job-card-div img {
  width: 64px;
  margin-bottom: 12px;
}
.job-card-div h4 {
  color: #000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 6px;
}
.job-card-div p {
  margin-bottom: 16px;
  color: #848484;
  font-weight: 500;
}
.job-card-sub {
  padding: 12px 14px;
  border-radius: 20px;
  background: #fff;
}
.salary-type {
  border-radius: 6px;
  background: #e5e5e5;
  padding: 4px;
}
.salary-type span {
  color: #4e4e4e;
  font-size: 14px;
  font-weight: 500;
}
.urg-hiring span {
  color: #a8a8a8;
  font-size: 14px;
}
/* Job card main */

/* Footer */
.footer-one-div {
  background: #eaeaea;
  padding: 40px 0;
}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.61) 3.5%,
    rgba(10, 9, 9, 0) 81.96%
  );
  pointer-events: none;
}
.overlay-text p {
  color: #e0ad2a;
  font-size: 17px;
  margin-bottom: 10px;
}
.overlay-text h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  width: 280px;
  margin-bottom: 10px;
}
.overlay-text button {
  border-radius: 14px;
  border: 2px solid #fff;
  color: #fff;
  padding: 5px 30px;
  transition: all 0.5s ease;
  font-weight: 500;
}
.overlay-text button:hover {
  background: #fff;
  color: #e0ad2a;
}
.footer-two-div {
  background: #f3f3f3;
  padding: 40px 0;
}
.footer-two-div h4 {
  color: #0f3f54;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
}
.icons-div img {
  margin-bottom: 10px;
}
.icons-div p {
  color: #878787;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.collapse-title {
  color: #09437f;
  font-size: 10px;
  font-weight: 500;
}
.footer-three-div span {
  color: #b6b6b6;
  font-size: 14px;
  font-weight: 500;
}
.footer-three-div p {
  color: #727272;
  font-size: 14px;
}
.footer-service-text h5 {
  color: #000;
  font-size: 17px;
  font-weight: 600;
}
.footer-services p {
  color: #3f3f3f;
  font-size: 20px;
  font-weight: 600;
}
.footer-services .icon {
  width: 165px;
  margin-top: 6px;
}
.footer-service-text p {
  color: #848484;
  font-size: 13px;
  font-weight: 400;
}
.footer-end {
  background: #9c9b9b;
}
.footer-end span {
  color: #fff;
}
.footer-end-part {
  background: #8f8f8f;
  color: white;
}
.services-mob div {
  border-radius: 4px;
  background: rgba(233, 233, 233, 0.5);
  padding: 3px;
  text-align: center;
  font-size: 7px;
}
.footer-social-icons h5 {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.know-us-mob p {
  color: #000;
  font-size: 12px;
  margin: 10px 0 10px 8px;
}

@keyframes expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 1000px;
  } /* Adjust max-height as needed */
}
.expanded {
  animation: expand 1.5s cubic-bezier(0.65, 0.05, 0.36, 1);
}
/* Footer */
/* Top categories */
.top-category-icon {
  padding: 20px 0;
  transition: all 0.4s ease-in-out;
}
.top-category-icon img {
  width: 64px;
  margin-bottom: 6px;
}
.top-category-icon p {
  color: #0f3f54;
  font-size: 14px;
  font-weight: 500;
}
/* Top categories */
/* Single job screen */
.job-heading-div {
  border-radius: 29px;
  background: #f4f4f4;
}
.job-heading-div h1 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
}
.job-heading-div h5 {
  color: #077ac2;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.job-heading-div p:first-of-type {
  color: #a1a1a1;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.job-heading-div h6 {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
}
.date-n-count {
  color: #9c9c9c;
  font-size: 10px;
  font-weight: 500;
}
/* Single job screen */
@media screen and (max-width: 424.9px) {
  .overlay-text p {
    font-size: 12px;
    margin-bottom: 7px;
  }
  .overlay-text h4 {
    font-size: 12px;
    margin-bottom: 7px;
    width: 135px;
  }
  .overlay-text button {
    border-radius: 10px;
    padding: 2px 18px;
    font-weight: 500;
    font-size: 12px;
  }
  .icons-div img {
    width: 50px;
  }
  .icons-div p {
    color: #878787;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
  }
  .top-category-icon {
    padding: 0;
  }
  .top-category-icon img {
    width: 44px;
    margin-bottom: 3px;
  }
  .top-category-icon p {
    color: #0f3f54;
    font-size: 8px;
  }
}

@media screen and (max-width: 767.9px) {
  .job-card-div {
    padding: 12px 12px;
    border-radius: 12px;
  }
  .job-card-div h4 {
    font-size: 14px;
  }
  .job-card-div p {
    font-size: 12px;
  }
  .job-card-sub {
    padding: 10px 10px;
    border-radius: 12px;
  }
  .urg-hiring svg {
    width: 12px;
  }
  .urg-hiring span {
    font-size: 10px;
  }
  .salary-type span {
    font-size: 10px;
  }
  .card-post-date span {
    font-size: 10px;
  }
  .footer-two-div h4 {
    text-align: center;
  }
}
@media screen and (min-width: 575.9px) {
  .top-category-icon:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
}
